{% extends 'super_police/base.html' %}

{% load static %}


{% block title %}
    registered car
{% endblock %}


{% block content %}
    <div class="content-body">
            <!-- row -->
			<div class="container-fluid">

				<div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Registered Car</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="example4" class="display" style="min-width: 645px">
                                        <thead>
                                            <tr>
                                                <th>Plate number</th>
                                                <th>Owner name</th>
                                                <th>Phone number</th>
                                                <th>Email</th>
                                                <th>Car Model </th>
												<th>Owner Id </th>
												<th>Time done </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for car in car %}
                                            <tr>
                                                <td>{{ car.plate_number }}</td>
                                                <td>{{ car.owner_name }}</td>
                                                <td>{{ car.owner_phone_number }}</td>
                                                <td>{{ car.owner_email }}</td>
                                                <td>{{ car.car_model}}</td>
                                                <td>{{ car.Owner_Id }}</td>
                                                <td>{{ car.time_done }}</td>

                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
            </div>
        </div>
{% endblock %}