{% extends 'super_police/base.html' %}

{% load static %}


{% block title %}
    Control
{% endblock %}


{% block content %}
    <div class="content-body">
            <!-- row -->
			<div class="container-fluid">

				<div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Car Control</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="example4" class="display" style="min-width: 645px">
                                        <thead>
                                            <tr>
                                                <th>Control name</th>
                                                <th>plate number</th>
                                                <th>Owner name</th>
                                                <th>Owner phone</th>
                                                <th>Control start </th>
												<th>Control end </th>
                                                <th>Status </th>
												<th>Time done </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for control in control %}
                                            <tr>
                                                <td>{{ control.control_name }}</td>
                                                <td>{{ control.car.plate_number }}</td>
                                                <td>{{ control.car.owner_name }}</td>
                                                <td>{{ control.car.owner_phone_number }}</td>
                                                <td>{{ control.control_start }}</td>
                                                <td>{{ control.control_end}}</td>
                                                {% if control.control_end < now_date %}
                                                    <td><span class="badge badge-rounded badge-danger">expired</span></td>
                                                {% else %}
                                                <td><span class="badge badge-rounded badge-primary">live</span></td>
                                                {% endif %}
                                                <td>{{ control.time_done }}</td>


                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
            </div>
        </div>
{% endblock %}