{% extends 'login_police/base.html' %}
{% load static %}
{% block content %}
    <div class="main">
  <!-- Sing in  Form -->
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <img src="{% static 'login_police/images/driver.svg' %}" alt="sing up image" style="height: 350px; width: 292px;">
                        <a href="{% url 'signup_driver' %}" class="signup-image-link">Create an account</a>
                    </div>

                    <div class="signin-form">
                        <h2 class="form-title">Sign up</h2>
                        <form method="" class="register-form" id="login-form">
                            <div class="form-group">
                                <label for="your_name"><i class="zmdi zmdi-smartphone-iphone"></i></label>
                                <input type="text" name="your_name" id="your_name" placeholder="Your Phone number"/>
                            </div>
                            <div class="form-group">
                                <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="your_pass" id="your_pass" placeholder="Password"/>
                            </div>

                            <div class="form-group form-button">
                                <input type="submit" class="form-submit" value="Log in"/>
                            </div>
                        </form>
                        <div class="social-login">
                            <a href="{% url 'home' %}"><span class="social-label"><h4>Return Home</h4></span></a>

                        </div>

                    </div>
                </div>
            </div>
        </section>

    </div>
{% endblock %}