{% extends 'base.html' %}

{% load static %}


{% block title %}
    profile
{% endblock %}


{% block content %}

<div class="content-body">
            <div class="container-fluid">
                <div class="row page-titles">
					<ol class="breadcrumb">
						<div class="col-xl-8">
                            <div class="card">
                                <h6>Profile progression
                                    <span class="pull-end">{{ number_complete }}%</span>
                                </h6>
                                <div class="progress ">
                                    <div class="progress-bar bg-success progress-animated" aria-valuenow="25" style="width: {{ number_complete }}%; height:6px;" role="progressbar">

                                    </div>
                                </div>
                            </div>
                        </div>
					</ol>
                </div>
                <!-- row -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="profile card card-body px-3 pt-3 pb-0">
                            <div class="profile-head">
                                <div class="photo-content">
                                    <div class="cover-photo rounded"></div>
                                </div>
                                <div class="profile-info">
									<div class="profile-photo">
										<img src="{{ profile.user_image.url }}" class="img-fluid rounded-circle" alt="">
									</div>
									<div class="profile-details">
										<div class="profile-name px-3 pt-2">
											<h4 class="text-primary mb-0">Name</h4>
											<p>{{ user.name }}</p>
										</div>
										<div class="profile-email px-2 pt-2">
											<h4 class="text-primary mb-0">Phone number</h4>
											<p>{{ user.phone_number }}</p>
										</div>
                                        <div class="profile-email px-2 pt-2">
											<h4 class="text-primary mb-0">status</h4>
											{% if police_req.police_status == 'approved' %}
													<div class="media-body">
														<span class="badge badge-success">Success</span>
													</div>
                                                        {% elif police_req.police_status == 'pending' %}
                                                        <div class="media-body">
                                                            <span class="badge badge-info">pending</span>
													    </div>
                                                        {% elif police_req.police_status == 'denied' %}
                                                        <div class="media-body">
                                                            <span class="badge badge-danger">Denied</span>
													    </div>
                                                        {% else %}
                                                        <div class="media-body">
                                                            <span class="badge badge-info">No request</span>
													    </div>
                                                    {% endif %}

										</div>
                                        {% if profile.date_of_birth %}
                                        <div class="profile-email px-2 pt-2">
											<h4 class="text-primary mb-0">Date of Birth</h4>
											<p>{{ profile.date_of_birth }}</p>
										</div>
                                        {% endif %}
                                        {% if profile.id_number %}
                                        <div class="profile-email px-2 pt-2">
											<h4 class="text-primary mb-0">ID Number</h4>
											<p>{{ profile.id_number  }}</p>
										</div>
                                        {% endif %}
										<div class="dropdown ms-auto">
											<a href="#" class="btn btn-primary light sharp" data-bs-toggle="dropdown" aria-expanded="true"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18px" height="18px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"></rect><circle fill="#000000" cx="5" cy="12" r="2"></circle><circle fill="#000000" cx="12" cy="12" r="2"></circle><circle fill="#000000" cx="19" cy="12" r="2"></circle></g></svg></a>
											<ul class="dropdown-menu dropdown-menu-end">
                                                <a href="{% url 'update_main_profile' %}"><li class="dropdown-item"><i class="fa fa-user-circle text-primary me-2"></i> Update Main profile</li></a>
												<a href="{% url 'update_profile' %}"><li class="dropdown-item"><i class="fa fa-user-circle text-primary me-2"></i> Update profile</li></a>
												<a href="{% url 'enable_two_f' %}"><li class="dropdown-item"><i class="fa fa-users text-primary me-2"></i> Enable two factor authentication</li></a>
											</ul>
										</div>
									</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</div>

{% endblock %}