{% extends 'admin_driver/base.html' %}
{% load static %}

{% block content %}

<div class="content-body">
            <div class="container-fluid">
                <div class="page-titles">
					<h4>Pay charges</h4>
                </div>
                <!-- row -->
                <div class="row">
                    <div class="col-xl-4 col-lg-12 col-sm-12">
						<div class="card overflow-hidden">
							<div class="text-center p-3 overlay-box " style="background-image: url({% static 'admin_driver/images/big/img1.jpg' %});">
								<div class="profile-photo">
									<img src="{% static 'admin_driver/images/profile/profile.png' %}" width="100" class="img-fluid rounded-circle" alt="">
								</div>
								<h3 class="mt-3 mb-1 text-white">Insurance</h3>
							</div>
							<ul class="list-group list-group-flush">
								<li class="list-group-item d-flex justify-content-between"><span class="mb-0">Plate number</span> <strong class="text-muted">{{ charged_car.car.plate_number }}	</strong></li>
								<li class="list-group-item d-flex justify-content-between"><span class="mb-0">Charges</span> 		<strong class="text-muted">{{ charged_car.insurance_charged_amount }}FRW	</strong></li>
								<li class="list-group-item d-flex justify-content-between"><span class="mb-0">Owner Name</span> <strong class="text-muted">{{ charged_car.car.owner_name }}	</strong></li>
							</ul>
                            {% if charged_car.insurance_tole_expire %}
                            <div class="card-footer border-0 mt-0">
                            <a href="{% url 'payment_insurance' charged_car.id %}">
                                <button class="btn btn-primary btn-lg btn-block">
									<i class="fa fa-money" aria-hidden="true"></i> Pay
								</button>
                            </a>

                            </div>
                            {% endif %}
                        </div>
					</div>
                    <div class="col-xl-4 col-lg-12 col-sm-12">
						<div class="card overflow-hidden">
							<div class="text-center p-3 overlay-box " style="background-image: url({% static 'admin_driver/images/big/img1.jpg' %});">
								<div class="profile-photo">
									<img src="{% static 'admin_driver/images/profile/profile.png' %}" width="100" class="img-fluid rounded-circle" alt="">
								</div>
								<h3 class="mt-3 mb-1 text-white">Tax</h3>
							</div>
							<ul class="list-group list-group-flush">
								<li class="list-group-item d-flex justify-content-between"><span class="mb-0">Plate number</span> <strong class="text-muted">{{ charged_car.car.plate_number }}	</strong></li>
								<li class="list-group-item d-flex justify-content-between"><span class="mb-0">Charges</span> 		<strong class="text-muted">{{ charged_car.tax_charged_amount }}FRW	</strong></li>
								<li class="list-group-item d-flex justify-content-between"><span class="mb-0">Owner Name</span> <strong class="text-muted">{{ charged_car.car.owner_name }}	</strong></li>
							</ul>
                            {% if charged_car.tax_tole_expire %}
                            <div class="card-footer border-0 mt-0">
								<button class="btn btn-primary btn-lg btn-block">
									<i class="fa fa-money" aria-hidden="true"></i> Pay
								</button>
                            </div>
                            {% endif %}

                        </div>
					</div>
                    <div class="col-xl-4 col-lg-12 col-sm-12">
						<div class="card overflow-hidden">
							<div class="text-center p-3 overlay-box " style="background-image: url({% static 'admin_driver/images/big/img1.jpg' %});">
								<div class="profile-photo">
									<img src="{% static 'admin_driver/images/profile/profile.png' %}" width="100" class="img-fluid rounded-circle" alt="">
								</div>
								<h3 class="mt-3 mb-1 text-white">Control</h3>
							</div>
							<ul class="list-group list-group-flush">
								<li class="list-group-item d-flex justify-content-between"><span class="mb-0">Plate number</span> <strong class="text-muted">{{ charged_car.car.plate_number }}	</strong></li>
								<li class="list-group-item d-flex justify-content-between"><span class="mb-0">Charges</span> 		<strong class="text-muted">{{ charged_car.control_charged_amount }}FRW	</strong></li>
								<li class="list-group-item d-flex justify-content-between"><span class="mb-0">Owner Name</span> <strong class="text-muted">{{ charged_car.car.owner_name }}	</strong></li>
							</ul>
                            {% if charged_car.control_tole_expire %}
                            <div class="card-footer border-0 mt-0">
								<button class="btn btn-primary btn-lg btn-block">
									<i class="fa fa-money" aria-hidden="true"></i> Pay
								</button>
                            </div>
                            {% endif %}
                        </div>
					</div>
                </div>
            </div>
        </div>

{% endblock %}





