{% extends 'base.html' %}

{% load static %}


{% block title %}
    urgence
{% endblock %}


{% block content %}
    <div class="content-body">
            <!-- row -->
			<div class="container-fluid">

				<div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Detected</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="example4" class="display" style="min-width: 845px">
                                        <thead>
                                            <tr>
                                                <th>Plate number</th>
                                                <th>Driver name</th>
                                                <th>Phone number</th>
                                                <th>insurance status </th>
												<th>control status </th>
												<th>tax status </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for car in urgence %}
                                            <tr>
                                                <td>{{ car.car.plate_number }}</td>
                                                <td>{{ car.car.owner_name }}</td>
                                                <td>{{ car.car.owner_phone_number }}</td>
                                                <td>
                                                    {% if car.insurance_tole_expire is None %}
                                                        <span class="badge light badge-success">free</span>
                                                    {% elif car.insurance_tole_expire > now %}
                                                            <span class="badge light badge-warning">pending</span>
                                                    {% else %}
                                                    <span class="badge light badge-danger">danger</span>
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if car.control_tole_expire is None %}
                                                        <span class="badge light badge-success">free</span>
                                                    {% elif car.control_tole_expire > now %}
                                                        <span class="badge light badge-warning">pending</span>
                                                    {% else %}
                                                    <span class="badge light badge-danger">danger</span>
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if car.tax_tole_expire is None %}
                                                        <span class="badge light badge-success">free</span>
                                                    {% elif car.tax_tole_expire > now %}
                                                        <span class="badge light badge-warning">pending</span>
                                                    {% else %}
                                                             <span class="badge light badge-danger">danger</span>
                                                    {% endif %}
                                                </td>

                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
            </div>
        </div>
{% endblock %}